<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление врача</title>
</head>
<body>
    <h2>Вы уверены, что хотите удалить этого врача?</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Да, удалить</button>
        <a href="{% url 'doctors_list' %}">Отмена</a>
    </form>
</body>
</html>