{% load static %}

<section class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="shop-content">
                    <div class="row showing-result-shorting">
                        <div class="col-md-12">
                            <div class="shorting pull-right">
                                <select class="selectmenu">
                                    <option selected="selected">Default Sorting</option>
                                    <option>Default Sorting one</option>
                                    <option>Default Sorting Two</option>
                                    <option>Default Sorting Three</option>
                                </select>
                            </div>
                            <div class="showing pull-left">
                                <p>Showing 1-{{ products|length }} of {{ products|length }} results</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for medicine in products %}
                        <!-- Start single product item -->
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    {% if medicine.image %}
                                    <img src="{{ medicine.image.url }}" alt="Awesome Product Image">
                                     {% else %}
    <p>No image available</p>
{% endif %}
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <div class="product">
                                                    <h3>{{ medicine.title }}</h3>
                                                    <p>{{ medicine.description }}</p>
                                                    <form action="{% url 'add_to_cart' medicine.pk %}" method="post">
                                                        {% csrf_token %}
                                                        <!-- Assuming AddToCartForm includes quantity field -->
                                                        {{ form.quantity }}
                                                        <button class="thm-btn bgclr-1 addtocart" type="submit">Add to Cart</button>
                                                    </form>
                                                    {% if request.user.is_superuser  %}
                                                    <div class="admin-buttons">
                                                        <a href="{% url 'medicine_create'  %}" class="btn btn-info btn-sm">Edit</a>
                                                        <a href="{% url 'medicine_update' medicine.pk %}" class="btn btn-info btn-sm">Edit</a>
                                                        <a href="{% url 'medicine_delete' medicine.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>{{ medicine.name }}</h5>
                                        </div>
                                    </div>
                                    <div class="product-value">
                                        <h4>{{ medicine.price }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single product item -->
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Start Sidebar Wrapper -->
            <div class="col-lg-3 col-md-7 col-sm-7 col-xs-12 pull-left">
                <div class="sidebar-wrapper">
                    <!-- Start single sidebar -->
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
                            <input placeholder="Search..." type="text">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <!-- End single sidebar -->
                    <!-- Start single sidebar -->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Categories</h3>
                        </div>
                        <ul class="categories clearfix">
                            <li><a href="#">Fitness Kit <span>(6)</span></a></li>
                            <li><a href="#">Healthy Foods <span>(2)</span></a></li>
                            <li><a href="#">Accessories <span>(5)</span></a></li>
                            <li><a href="#">Electronic Scales <span>(10)</span></a></li>
                        </ul>
                    </div>
                    <!-- End single sidebar -->
                    <!-- Start single sidebar -->

                    <!-- Start single sidebar -->

                    <!-- End single sidebar -->
                </div>
            </div>
            <!-- End Sidebar Wrapper -->
        </div>
    </div>
</section>
