
{% extends 'base/base.html' %}


{% load static %}


  {% block content %}

<!--Start Preloader -->
{#<div class="preloader"></div>#}
<!--End Preloader --> 

<!--Start header area-->

<!--Start top bar area-->
      {% include 'base/topbararea.html' %}
<!--End top bar area-->

<!--Start header area-->
       {% include 'base/header.html' %}
<!--End header area-->

<!--Start header-search  area-->
<!--End header-search  area-->

<!--Start mainmenu area-->
      {% include 'base/mainmenu.html' %}
<!--End mainmenu area-->

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Time Table</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Time Table</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Table</title>
    <style>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </style>
</head>
<body>
    <div class="time-table-area">
        <div class="container">
            <div class="row pd-bottom">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control selectmenu">
                                <option selected="selected">Select Department</option>
                                <option>Cardiology</option>
                                <option>Pulmonology</option>
                                <option>Gynecology</option>
                                <option>Neurology</option>
                                <option>Urology</option>
                                <option>Gastrology</option>
                                <option>Pediatrician</option>
                                <option>Laboratory</option>
                            </select>  
                        </div>
                        <div class="col-md-6">
                            <div class="input-box">
                                <input type="text" class="form-control" name="date" placeholder="Select Date" id="datepicker">
                                <div class="icon-box">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                            </div>  
                        </div>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table time-table">
                            <thead>
                                <tr style="background-color: #B2EBF2;"> <!-- Цвет фона заголовка таблицы -->
                                    <th style="background-color: #4CAF50; color: black;">Time / Days</th>
                                    <th style="background-color: #2196F3; color: black;">Monday</th>
                                    <th style="background-color: #f44336; color: black;">Tuesday</th>
                                    <th style="background-color: #FFC107; color: black;">Wednesday</th>
                                    <th style="background-color: #9C27B0; color: black;">Thursday</th>
                                    <th style="background-color: #FF5722; color: black;">Friday</th>
                                    <th style="background-color: #673AB7; color: black;">Saturday</th>
                                    <th style="background-color: #795548; color: black;">Sunday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="single-box time">
                                        <div class="inner-content text-center">
                                            <span>08.00 - 09.00</span>
                                            <p>am</p>
                                        </div>
                                    </td>
                                    <td class="single-box">
                                        {% for schedule in monday_schedules %}
                                            <div class="inner-content">
                                                <h5>{{ schedule.choosing_a_doctor.name }}</h5>
                                                <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>
                                                <p>{{ schedule.doctor_name }}</p>
                                                <h6 class="level">Level: <span>{{ schedule.level }}</span></h6>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td class="single-box">
                                        {% for schedule in tuesday_schedules %}
                                            <div class="inner-content">
                                                <h5>{{ schedule.choosing_a_doctor.name }}</h5>
                                                <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>
                                                <p>{{ schedule.doctor_name }}</p>
                                                <h6 class="level">Level: <span>{{ schedule.level }}</span></h6>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td class="single-box">
                                        {% for schedule in wednesday_schedules %}
                                            <div class="inner-content">
                                                <h5>{{ schedule.choosing_a_doctor.name }}</h5>
                                                <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>
                                                <p>{{ schedule.doctor_name }}</p>
                                                <h6 class="level">Level: <span>{{ schedule.level }}</span></h6>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td class="single-box">
                                        {% for schedule in thursday_schedules %}
                                            <div class="inner-content">
                                                <h5>{{ schedule.choosing_a_doctor.name }}</h5>
                                                <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>
                                                <p>{{ schedule.doctor_name }}</p>
                                                <h6 class="level">Level: <span>{{ schedule.level }}</span></h6>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td class="single-box">
                                        {% for schedule in friday_schedules %}
                                            <div class="inner-content">
                                                <h5>{{ schedule.choosing_a_doctor.name }}</h5>
                                                <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>
                                                <p>{{ schedule.doctor_name }}</p>
                                                <h6 class="level">Level: <span>{{ schedule.level }}</span></h6>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td class="single-box">
                                        {% for schedule in saturday_schedules %}
                                            <div class="inner-content">
                                                <h5>{{ schedule.choosing_a_doctor.name }}</h5>
                                                <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>
                                                <p>{{ schedule.doctor_name }}</p>
                                                <h6 class="level">Level: <span>{{ schedule.level }}</span></h6>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td class="single-box">
                                        {% for schedule in sunday_schedules %}
                                            <div class="inner-content">
                                                <h5>{{ schedule.choosing_a_doctor.name }}</h5>
                                                <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>
                                                <p>{{ schedule.doctor_name }}</p>
                                                <h6 class="level">Level: <span>{{ schedule.level }}</span></h6>
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--Start footer area-->
      {% include 'base/footer.html' %}
<!--End footer area-->

<!--Start footer bottom area-->
<!--End footer bottom area-->

</div>

 {% endblock %}